#python缓存
__pycache__

#测试
tests/*
scripts/*
!scripts/stripe
!scripts/square_brillouin.py
!scripts/square_solution.py
!scripts/square_solution_multi.py
!scripts/triangle
heatmap*/
scripts/stripe/*
!scripts/stripe/brillouin.py
!scripts/stripe/solution.py
!scripts/stripe/visualize.py
!scripts/rectbrlu
scripts/rectbrlu/*
!scripts/rectbrlu/brillouin.py
!scripts/rectbrlu/solution.py
scripts/triangle/*
!scripts/triangle/brillouin.py
!scripts/triangle/solution.py
!scripts/triangle/visualize.py


#性能分析
profile/*
!profile/analysis.py
!profile/multi*
!profile/single*
!profile/bubble*
!profile/contour*

#VSCode插件
.VSCode*/

#杂项
comment/
backends/
